body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.tv-frame {
    width: 100px;
    max-width: 90vw;
    position: absolute;

    top: 8%;
    left: 5%;

}

.tv-frame img {
    size: 500px;
    height: auto;
    display: block;
}

.tv-frame video {
    position: absolute;
    top: 25%;
    left: 116%;
    z-index: 1;
}

.play-btn {
    width: 200px;
    cursor: pointer;
    display: block;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 1005%;
    top: 30%;

}

.sound-btn {
    width: 200px;
    cursor: pointer;
    display: block;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 1000%;
    top: 43%;
    transition: filter 0.3s ease;
}

.sound-btn.playing {
    filter: invert(1);
    cursor: not-allowed;
}

.sound-btn.disabled {
    opacity: 0.6;
}

@media (max-width: 600px) {
    .tv-frame {
        transform: scale(0.7); /* or 0.5, 0.6, etc. */
        transform-origin: top left;
    }
}