body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.tv-frame {
    width: 100px;
    max-width: 90vw;
    position: absolute;

    top: 8%;
    left: 5%;

}

.tv-frame img {
    size: 500px;
    height: auto;
    display: block;
}

.tv-frame video {
    position: absolute;
    top: 25%;
    left: 116%;
    z-index: 1;
}

.play-btn {
    width: 200px;
    cursor: pointer;
    display: block;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 1005%;
    top: 30%;

}

.sound-btn {
    width: 200px;
    cursor: pointer;
    display: block;
    height: auto;
    z-index: 1;
    position: absolute;
    left: 1000%;
    top: 43%;
    transition: filter 0.3s ease;
}

.sound-btn.playing {
    filter: invert(1);
    cursor: not-allowed;
}

.sound-btn.disabled {
    opacity: 0.6;
}


/* --- PHONE VIEW (under 600px) --- */
@media (max-width: 600px) {
    body {
        height: auto;
        padding-top: 40px;
        display: block;
    }

    .tv-frame {
        width: 70vw;        /* scale down for mobile */
        position: relative; /* stack vertically instead of absolute */
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .tv-frame video {
        position: absolute;
        top: 24%; 
        left: 23%;
        width: 55%;        /* scaled to TV screen area */
        max-width: none;
    }

    .play-btn,
    .sound-btn {
        position: relative;
        left: 0;
        top: 0;
        width: 40vw;
        margin: 15px auto;
        display: block;
    }

    .play-btn {
        margin-top: 20px;
    }

    .sound-btn {
        margin-top: 10px;
    }
}